* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 18px;
}

body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 375px;
    height: 766px;
    background-color: #F4F4F4;
}

header {
    background-color: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    color: #F4F4F4;
}

main {
    margin: 0px 24px;
}

.converter-label {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin-top: 24px;
    display: block;
}

.value-label {
    font-weight: 700;
    font-size: 14px;
    color: #777777;
    margin-top: 24px;
    margin-bottom: 6px;
    display: block;
    display: block;
}

select {
    background-color: #FFFFFF;
    width: 327px;
    height: 48px;
    margin-top: 4px;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 11px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    appearance: none;
    outline: none;
}

input {
    background-color: #FFFFFF;
    width: 327px;
    height: 48px;
    margin-top: 4px;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 11px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
}

button {
    height: 48px;
    width: 100%;
    margin: 24px 0px;
    background: #1B83E2;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #F4F4F4;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    width: 100%;
    height: 276px;
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#container-real,
#container-currency-text {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#container-currency {
    display:flex;
    justify-items:center;
    align-items:center;
    flex-direction: row;
}

#real-text,
#currency-text {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin-top: 4px;
}

#real-value,
#currency-value {
    font-weight: 700;
    font-size: 20px;
    color: #1B83E2;
    margin-top: 3px;
}